<html  xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: header(false)">
</head>
<body id="page-top">
	<nav class="navbar navbar-expand-lg bg-secondary fixed-top"
		id="mainNav" th:replace="fragments/navbar :: navbar"></nav>
	<header class="masthead bg-primary text-white text-center">
		<div class="container d-flex align-items-center flex-column">
			<h1 class="masthead-heading mb-0">UPDATE YOUR PROGRESS</h1>
			<div th:replace="fragments/divider :: divider(false)"></div>
		</div>
	</header>
	<section class="page-section" id="feature-1">
		<div class="container d-flex align-items-center flex-column">
			<input type="hidden" 
			th:each="goal:${session.userSession.goals}" th:id="${goal.goalName} + '.units'"
			th:name="${goal.goalName} + '.units'"
			th:value="${goal.goalUnit}"/> <input type="hidden"
			th:each="goal:${session.userSession.goals}"
			th:id="${goal.goalName} + '.target'"
			th:name="${goal.goalName} + '.target'"
			th:value="${goal.target}"/> <input type="hidden"
			th:each="goal:${session.userSession.goals}"
			th:id="${goal.goalName} + '.progress'"
			th:name="${goal.goalName} + '.progress'"
			th:value="${goal.currentProgress}"/>
			<form method="POST" action="update-progress">
				<div class="row large-text mb-2">
					<div class="col-sm-4">Goal:</div>
					<div class="col-sm-4">
						<select name="goal" onchange="populateProgressFields(this)">
							<option selected>Select goal</option>
							<option th:each="goal:${session.userSession.goals}" th:value="${goal.goalName}" th:text="${goal.goalName}"></option>
						</select>
					</div>
					<div class="col-sm-4" id="goal-units"></div>
				</div>
				<div class="row large-text hidden mb-2">
					<div class="col-sm-4">Target:</div>
					<div class="col-sm-4" id="target">.</div>
					<div class="col-sm-4" id="target-units">.</div>
				</div>
				<div class="row large-text hidden mb-2">
					<div class="col-sm-4">Current progress:</div>
					<div class="col-sm-4" id="progress">.</div>
					<div class="col-sm-4" id="progress-units">.</div>
				</div>
				<div class="row large-text hidden mb-2">
					<div class="col-sm-4">Update:</div>
					<input class="col-sm-4" type="number" min="0" name="goal-update"
						onchange="updateTotal(this)"/>
					<div class="col-sm-4" id="update-units">.</div>
				</div>
				<div class="row large-text hidden mb-2">
					<div class="col-sm-4">Total:</div>
					<div class="col-sm-4" id="total"></div>
					<div class="col-sm-4" id="total-units">.</div>
				</div>
				<div class="d-flex align-items-center flex-column">
					<input type="submit" value="Save changes" class="btn btn-primary mt-3"/>
				</div>
			</form>
		</div>
	</section>
	<script src="js/update-progress.js"></script>
	<footer class="footer text-center" th:replace="fragments/footer :: footer(false)"></footer>
</body>
</html>